body {
    width: 80%;
    margin:auto;
    font-family: "Open Sans", sans-serif;
}
@media (min-width: 1200px) {
    body {
        width: 40%;        
    }
}
span {
    display: block;
    margin-top: 20px;
    text-align: center;
}
h1, h2 {
    text-align: center;
}
img {
    width: 100%;
    border: 5px solid black;
    border-radius: 5px;
}
form {
    text-align: center;
}